<html>
<head>

<title>Peruanismos</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
.entry-card {
	padding: 10px;
	display: inline-block;
	height: 100px;
}
</style>

</head>

<body>
<div class="container">

{% if entry_list %}
	{% for entry in entry_list %}
	<div class="col-xs-3 entry-card">
		<a href="{% url 'lexicon:entry_detail' entry.id %}"><h2>{{ entry.entry_name }}</h2></a>
	</div>
	{% endfor %}
{% else %}
	<p>No entries in the lexicon.</p>
{% endif %}

</div>
</body>
</html>
